* {
    box-sizing: border-box;
  }

body {
    min-height: 100%;
    font-family: 'Fira Sans';
}

.matrix {
    /* flex container */
    display: flex;
    flex-wrap: wrap;
}

/* for mobile devices */
.square {
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 1.5%;

    /* flex item */
    flex: 1 1 90%;
    min-height: 400px;
    
    /* flex container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.square p {
    margin-top: 0%;
    margin-bottom: 0;
}

.square ul {
    flex: 1 2;
}

.form input {
    width: 90%;
}

.item {
    display: flex;
    align-items: center;
}

.item p {
    flex-grow: 5;
    word-break: break-all;
}

.heading {
    display: none;
    opacity: 25%;
}

.urg-heading {
    display: flex;
    justify-content: space-evenly;
}

.item-done {
    text-decoration:line-through;
}

input[type=text]{
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: grey;
    }
    
input[type=text]:focus {
     outline: none;
     color: black;
}

.form {
    display: flex;
    width: 100%;
}

.submit-btn {
    width: 40px;
    height: 36px;
    border: 1px solid black;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.d-heading {
    font-size: 20px;
    color: black;
}

.d-subheading {
    font-size: 18px;
    color: gray;
}

.info-btn {
    font-size: 18px;
    margin-top: 5px;
    background-color: white;
    border: none;
}

.del-btn, .chk-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 5px;
}

/* for the computer */
@media only screen and (min-width: 768px) {
    .square {
        /* flex item */
        flex: 1 1 40%;
        min-height: 400px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .square button {
        align-self: center;
    }

    .heading {
        display: inline;
    }

    .urg-head {
        flex-basis: 50%;
        text-align: center;
    }

    .imp {
        position: absolute;
        z-index: -1;
        top: 335px;
    }

    .nonimp {
        position: absolute;
        z-index: -1;
        top: 700px;
    }

    .d-heading {
        font-size: 30px;
        color: black;
    }
    
    .d-subheading {
        font-size: 18px;
        color: gray;
    }

}

@keyframes removeInfo{
    0%{
      opacity: 1;
      /* transform:translateY(); */
    }
    50%{
      opacity: 0.5;
      /* transform: rotateX(0deg); */
    }
    100%{
      display: none;
      opacity: 0;
      position: relative;
      right: -1000px;
      height: 0px;
      /* transform: rotateX(90deg); */
    }
  }
  
  .disappear{
      animation-name: removeInfo;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
  }