* {
    box-sizing: border-box;
  }

body {
    background: linear-gradient(180deg, rgba(21,50,67,1) 17%, rgba(180,184,171,1) 60%, rgba(244,249,233,1) 100%) rgba(244,249,233,1) fixed no-repeat; 
    min-height: 100%;
    font-family: 'Fira Sans';
}

.matrix {
    /* flex container */
    display: flex;
    flex-wrap: wrap;
}

/* for mobile devices */
.square {
    /* flex item */
    flex: 1 1 90%;
    min-height: 400px;
    
    /* flex container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.square p {
    flex: 1 1 10%;
    order: 1;
    margin-top: 0%;
    margin-bottom: 0;
}

.square ul {
    flex: 1 1 70%;
    order: 2;
}


.square input {
    /* flex item */
    flex: 1 1 10%;
    order: 3;
    min-height: 40px;
}

.square button {
    /* flex item */
    flex: 1 1 10%;
    order: 4;
    min-height: 40px;
    align-self: strech;
}
/* for the computer */
@media only screen and (min-width: 768px) {
    .square {
        /* flex item */
        flex: 1 1 50%;
        min-height: 400px;
    }

    .square button {
        align-self: center;
    }


}